<!DOCTYPE html>
<html lang="<%- lang%>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%- title %></title>
    <% css.forEach(function(file){ %>
    <link href="<%- file %>" rel="stylesheet">
    <% }); %>
  </head>
  <body>
    <div id="app"><%- body %></div>
    <% js.forEach(function(file){ %>
    <script src="<%-baseUrl %><%- file %>"></script>
    <% }); %>
  </body>
</html>